@{
    ViewData["Title"] = "HTML Page";
}
<p>
    JavaScript Can Change HTML Content
    One of many JavaScript HTML methods is getElementById().

    The example below "finds" an HTML element (with id="demo"), and changes the element content (innerHTML) to
    "Hello JavaScript":

    Ex
</p>